<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/ERP.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021年企业竞争模拟大赛(国家级二等奖)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/大学生财经素养大赛.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">大学生财经素养大赛(省级二等奖)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/排球邀请赛正面.jpg' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">排球邀请赛正面.jpg(志愿者证书)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

    </div>
    <!-- .row -->
</section>
<!-- .section -->