<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/ERP.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021年企业竞争模拟大赛(国家级二等奖)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/大学生财经素养大赛.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">大学生财经素养大赛(省级二等奖)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/排球邀请赛正面.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">排球邀请赛志愿证明(志愿者证书)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/第二届全国高等院校财务数智化大赛.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">第二届全国高等院校财务数智化大赛(Python相关)</h3>
            </div>

        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/四川省大学生企业智能决策大赛优秀奖.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">四川省大学生企业智能决策大赛优秀奖(数据分析相关)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->


        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/校级优秀共青团干部.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">校级优秀共青团干部</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/校级优秀共青团干部.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">校级优秀共青团干部(团学相关)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/优秀共青团干部.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">院级优秀共青团干部(团学相关)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->


        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/西华大学第四届校园提案大赛二等奖.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">西华大学第四届校园提案大赛二等奖</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->


        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/三下乡.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">三下乡实践证明</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/英语写作大赛.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">英语写作大赛(英语能力相关)</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/多次奖学金.png' | prepend: site.baseurl }}" alt="">
                </figure>
                <h3 class="award-title">多次荣获奖学金</h3>
            </div>
        </div>
        <!-- .col-sm-6 -->








    </div>
    <!-- .row -->
</section>
<!-- .section -->